/* Global */
:root {
  --primary-color: #ffc940;
  --second-color: #28292b;
  --third-color: #bcbdbe;
  --black-color: #000000;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-image: url(../images/pattern.jpg);
  font-family: "Roboto", sans-serif;
  position: relative;
}

body::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--second-color);
  opacity: 0.8;
  z-index: -1;
}

/* Fonts */
h1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
}

h2 {
  color: var(--primary-color);
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
  padding: 50px;
  font-family: "Exo 2", sans-serif;
}

p {
  color: var(--white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

/* Redes */
.redes-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.redes-menu_link {
  transition: all 0.8s;
}
.redes-menu_link a {
  text-decoration: none;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
}
.redes-menu_link a[href*=instagram] {
  color: #d43066;
  font-size: 0;
}
.redes-menu_link a[href*=facebook] {
  color: #0778e8;
  font-size: 0;
}
.redes-menu_link a[href*=linkedin] {
  color: #027fb5;
  font-size: 0;
}
.redes-menu_link a[href*=twitter] {
  color: #1da1f2;
  font-size: 0;
}
.redes-menu_link a[href*=youtube] {
  color: #ff0000;
  font-size: 0;
}
.redes-menu_link a i {
  font-size: 35px;
}
.redes-menu_link a:hover i {
  font-size: 40px;
}

/* Header */
.header {
  position: absolute;
  background-color: #ffc940b8;
  width: 100%;
  z-index: 1;
}
.header .container {
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .header .container {
    display: flex;
  }
}
.header .container .header__logo {
  display: flex;
  align-items: center;
  padding: 0 10px;
  display: flex;
  justify-content: center;
}
.header .container .header__logo_title {
  color: var(--black-color);
  margin: 0;
}
.header .container .header__logo_redes-menu {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header .container .header__logo {
    justify-content: space-between;
  }
  .header .container .header__logo_redes-menu {
    display: flex;
  }
}
.header .container .header__logo:hover {
  text-decoration: none;
}
.header .container .navbar {
  background-color: transparent !important;
  padding: 0;
  display: flex;
  margin: 10px 0;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .header .container .navbar {
    margin: 0;
  }
}
.header .container .navbar .header__menu {
  display: none;
  justify-content: center;
  padding: 0 10px;
}
.header .container .navbar .header__menu.show, .header .container .navbar .header__menu.collapsing {
  display: flex;
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header .container .navbar .header__menu.show, .header .container .navbar .header__menu.collapsing {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .header .container .navbar .header__menu {
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .header .container .navbar .header__menu {
    position: absolute;
    top: 48px;
    background-color: #ffc940b8;
  }
}
.header .container .navbar .header__menu .nav-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
}
.header .container .navbar .header__menu .nav-menu li {
  display: flex;
  justify-content: center;
}
.header .container .navbar .header__menu .nav-menu li.active {
  background-color: #000000b8;
}
.header .container .navbar .header__menu .nav-menu li.active a {
  color: var(--white-color);
}
@media only screen and (min-width: 768px) {
  .header .container .navbar .header__menu .nav-menu li.active {
    background-color: transparent;
  }
  .header .container .navbar .header__menu .nav-menu li.active a {
    color: var(--black-color);
  }
}
.header .container .navbar .header__menu .nav-menu li a {
  text-decoration: none;
  color: var(--black-color);
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  font-style: italic;
}
@media only screen and (min-width: 992px) {
  .header .container .navbar .header__menu .nav-menu li a {
    padding: 20px 10px;
  }
}
.header .container .navbar .header__menu .nav-menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
}
@media (min-width: 768px) {
  .header .container .navbar .header__menu .nav-menu li {
    padding: 0 15px;
  }
  .header .container .navbar .header__menu .nav-menu li a {
    position: relative;
    z-index: 1;
  }
  .header .container .navbar .header__menu .nav-menu li a::before {
    position: absolute;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 10%;
    background-color: var(--black-color);
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.6s;
    top: 90%;
    transform-origin: left;
  }
  .header .container .navbar .header__menu .nav-menu li a.active::before {
    transform: scaleX(1);
  }
  .header .container .navbar .header__menu .nav-menu li a:hover::before {
    transform: scaleX(1);
  }
}

main {
  margin-bottom: 50px;
}

.banner_index {
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/banner.jpg);
  height: 70vh;
  position: relative;
  padding-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .banner_index {
    padding-top: 65px;
  }
}
.banner_index::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 100%;
  background-color: var(--second-color);
  opacity: 0.6;
}
.banner_index__content {
  position: absolute;
  width: 100%;
  height: calc(100% - 110px);
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .banner_index__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: calc(100% - 65px);
  }
}
.banner_index__content div h2 {
  font-weight: bold;
  text-align: left;
  font-size: 45px;
  padding: 0;
}
.banner_index__content div p {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: bold;
}

section.content__servicios ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5%;
  text-align: center;
}
section.content__servicios ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
section.content__servicios ul li svg {
  width: 50px;
  height: 50px;
}
section.content__servicios ul li svg path {
  fill: var(--primary-color);
}
section.content__servicios ul li h3 {
  margin-top: 30px;
  width: 100%;
  color: var(--white-color);
  font-weight: bold;
  padding-top: 50px;
  position: relative;
}
section.content__servicios ul li h3::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(../images/svg1.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center top;
}
section.content__nosotros {
  background-color: var(--white-color);
}
section.content__nosotros > div {
  grid-template-columns: 2fr 1fr;
  grid-gap: 5%;
}
@media only screen and (min-width: 768px) {
  section.content__nosotros > div {
    display: grid;
  }
}
section.content__nosotros > div img {
  height: 100%;
  width: 100%;
}
section.content__nosotros > div div {
  padding: 20px;
}
section.content__nosotros > div div h2 {
  text-align: left;
  padding: 0;
  padding-bottom: 20px;
  color: var(--black-color);
}
section.content__nosotros > div div p {
  color: var(--black-color);
}
section.content p {
  text-align: center;
}

.banner_index-servicios {
  background-image: url(../images/banner_servicios.jpg);
  height: 40vh;
  background-position: center;
  background-attachment: scroll;
}
.banner_index-nosotros {
  background-image: url(../images/banner_nosotros.jpg);
  height: 40vh;
  background-position: center;
  background-attachment: scroll;
}
.banner_index-cursos {
  background-image: url(../images/banner.jpg);
  height: 40vh;
  background-position: center;
  background-attachment: scroll;
}

.content .dos-columnas {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 50px;
}
@media only screen and (min-width: 768px) {
  .content .dos-columnas {
    display: grid;
  }
}
.content .dos-columnas.columna30-70 {
  grid-template-columns: 1fr 2fr;
}
.content .dos-columnas.columna70-30 {
  grid-template-columns: 2fr 1fr;
}
.content .dos-columnas div {
  padding: 50px;
}
.content .tres-columnas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.fondo-equipo {
  background-image: url(../images/equipo.webp);
}
.fondo-equipo div {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.fondo-equipo div:nth-child(1) {
  background-color: #000000b8;
}
.fondo-equipo div:nth-child(1) h3 {
  width: 100%;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
}
.fondo-equipo div:nth-child(2) {
  background-color: #ffc940b8;
}
.fondo-equipo div:nth-child(2) p {
  color: var(--black-color);
}
.fondo-equipo div p {
  font-weight: bold;
  text-align: right;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 25px;
}
.team h3 {
  font-weight: bold;
}
.team i {
  font-size: 40px;
  color: var(--second-color);
}
.team .tres-columnas li {
  padding: 5px;
  /* .img_wrapper {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
    }
  } */
}
@media only screen and (min-width: 768px) {
  .team .tres-columnas li {
    padding: 10px;
  }
}
.team .tres-columnas li h4,
.team .tres-columnas li span {
  margin: 5px 0;
  font-weight: bold;
}

/* Form */
.contacto {
  text-align: center;
}
.contacto__form {
  max-width: 500px;
  margin: 0 auto;
}
.contacto__form input {
  display: block;
  width: 100%;
}
.contacto__form .newsletter {
  display: inline-block;
  width: auto;
}
.contacto__form textarea {
  display: block;
  width: 100%;
}
.contacto__form div {
  display: flex;
  justify-content: space-between;
}
.contacto__form div input {
  width: 40%;
  padding: 5px 10px;
  margin-top: 10px;
}

/* Cursos */
.cursos {
  margin: 50px 0;
}
.cursos__table {
  margin: 0 auto;
  padding: 20px;
  background: white;
}
.cursos__table tr th {
  text-transform: uppercase;
}
.cursos__table tr td {
  border: 2px solid var(--black-color);
  padding: 15px;
}
.cursos__table tr td ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  text-align: center;
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 50px;
  }
}
footer .contact h3,
footer .contact span {
  font-weight: bold;
}
footer .contact__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
  background-color: #ffffff26;
  transition: all 0.2s;
}
@media only screen and (min-width: 768px) {
  footer .contact__form {
    padding: 40px 100px;
  }
}
footer .contact__form div {
  display: flex;
  justify-content: space-between;
}
footer .contact__form div input {
  width: 49%;
}
footer .contact__form input,
footer .contact__form textarea {
  font-weight: bold;
  min-height: 50px;
  padding-left: 5px;
  margin: 10px 0;
  border: none;
}
footer .contact__form input:focus,
footer .contact__form textarea:focus {
  border-radius: none;
}
footer .contact__form .submit:hover {
  color: var(--white-color);
  background-color: var(--black-color);
}
footer .redes-menu {
  margin-top: 20px;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
